body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px;
    background-image: url('background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}
h1 {
    color: #FFD700; 
    text-decoration-line: underline;
    text-decoration-style:double;
}
#text-input {
    background-color: #E6E6FA;
    color: #FF1493;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}
#text-output {
    background-color: #E6E6FA;
    color: #FF1493;
    border: 1px solid #FFDAB9;
    border-radius: 4px;
    padding: 10px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
}
#speak-btn {
    background-color: #ff6347;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
#speak-btn:hover {
    background-color: #ff4500;
}
#listen-btn {
    background-color: #4682b4;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
#listen-btn:hover {
    background-color: #4169e1;
}
textarea {
    width: 100%;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    background-color: #ffffff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    opacity: 0.9;
}
